$breakpoint-s: 480px;
$spacing-base: 16px;
$spacing-s: $spacing-base;
$spacing-m: $spacing-base * 2;

@mixin desktop {
  @media screen and (min-width: $breakpoint-s) {
    @content;
  }
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding: 0;
  margin: 0;
  overflow: hidden;

  &.home {
    background: red;
  }

  &.ollie {
    background: black;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

.container {
  padding: 0 $spacing-s;
  margin: auto;

  &--m {
    max-width: 768px;
  }
}

.block {
  background: aliceblue;
  padding: $spacing-s;
  margin: $spacing-s 0;

  @include desktop() {
    margin: $spacing-m 0;
  }

  h1,
  h2 {
    margin: #{-$spacing-s} -#{$spacing-s} #{$spacing-s} #{-$spacing-s};
    background: #000055;
    padding: $spacing-s;
  }

  img,
  video {
    max-width: 100%;
    min-height: 100px;
    background: #ddd;

    @include desktop() {
      min-height: 300px;
    }
  }
}

.t-center {
  text-align: center;
}

.fade {
  opacity: 0;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-property: opacity transform;
}

.scale {
  transform: scale(0.5);
}

.rotate {
  transform: rotate(180deg);
}

.translateX {
  transform: translateX(100%);
}
